<include file="Public/head"/>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->

<!--文章主体内容-->
<div class="middle clearfix">
	<div class="middle_cen">
		<include file="Public/articleLeft" />

		<script type="text/javascript">
		$(function(){
			changeClass(null);
		});
		function changeClass(php){
			var typeJsp= "BusinessNews";
			if(php!=null){
			typeJsp=php;
			}
			if(typeJsp!=''&&typeJsp!=null){
				if(typeJsp=='CompanyInfo'){
				   changeDiv('about_id1',typeJsp);
				}
				if(typeJsp=='SeeList'){
				   changeDiv('about_id2',typeJsp);
				}
				if(typeJsp=='JoinUs'){
				   changeDiv('about_id3',typeJsp);
				}
				if(typeJsp=='ContactUs'){
				   changeDiv('about_id4',typeJsp);
				}
				if(typeJsp=='View'){
				   changeDiv('about_id5',typeJsp);
				}
				if(typeJsp=='BusinessNews'){
				   changeDiv('about_id6',typeJsp);
				}
			
			}else{
			changeDiv('about_id6','BusinessNews');
			}
		}
		function changeDivContext(obj,name,url){
		    $('.middle_cen_left tr td').attr('class', '_left_td _td_text1');
		    $(obj).find("td").attr("class",'_left_td _td_text2');
		    changeClass(name)
			openwin_self(url);
		}

		function changeDiv(id,name){
			$('.middle_cen_left tr td').attr('class', '_left_td _td_text1');
			$("#"+id).parent().attr("class","_left_td _td_text2");
		}
		</script>
		<div id="middle_cen_right_id" class="middle_cen_right">
			<div class="right_top_article">
				<span class="r_top_span">理财资讯</span>
			</div>
			<div class="right_bottom" id="middle_cen__id" style="text-align: center;">
				<div class="sitenotice_list2 clearfix" id="announId_table">

				<table class="list_table" cellspacing="0" cellspadding="0" style="border-collapse: collapse; padding: 0">
					<tbody>
						<volist name="businessList" id="vo">
							<tr class="list_tr">
							 <td class="list_td2" width="170px;">
							 	<a class="list_td_a" href="__APP__/aboutus/businessnews/{$vo.journalism_id}.html">
							 		<img src="{$vo.journalism_picture}" width="170px" height="100px" />
							 	</a>
							 </td>
							 <td class="pl20">
							 	<div class="bus_title"><a href="__APP__/aboutus/businessnews/{$vo.journalism_id}.html" title="">{$vo.journalism_title|getSubstr = 0,30}</a></div>
							 	<div class="bus_info">{$vo.journalism_describe|getSubstr = 0,100}</div>
							 	<div class="bus_time fz12"><i class="glyphicon glyphicon-time"></i>&nbsp;{$vo.add_time}</div>
							 </td>
							</tr>
						</volist>
					</tbody>
				</table>

				</div>
				<div id="annout_pagediv" class="pagination">{$page}</div>	
			</div>
		</div>
<!---->
	</div>
</div>
<!--文章主体内容结束-->
<include file="Public/footer" />