<include file="Public/head" />
<include file="Public/header" />
<div class="jflgrzx_zhzy">
<!--main-->
<div class="reg">
		<div class="reg_cen">
			<div class="title_bar text_thseven">
				找回交易密码
			</div>
			<div id="findPasswordDiv">
				<form id="changePassword_form" action="saveTrade.html" method="POST">
				<table style="margin: 40px 0 0 460px;text-align: left;">
					<tbody><tr>
						<td colspan="2">
							<i class="icon phone"></i>
						    <input class="in_1 pho form-control" type="text" id="mobile" name="mobile" placeholder="请输入注册时手机号码">	
						</td>
						<td>
                           <div id="mobile_tivvv" class="icon"></div>
                        </td>
					</tr>
					<tr>
						<td>
							<input class="in_2" type="text" id="tuxing_verifi" name="imgCode" placeholder="输入图形码" disabled="disabled">
						</td>
						<td>
							<span id="tuxing">
								<img src="verify.html" id="kaptchaImage" width="133px" height="42px" style="padding-top:4px;padding-left: 15px;">
							</span>
						</td>
						<td>
                           <div id="verifyimg_tivv" class="icon"></div>
                        </td>
					</tr>
					<tr>
						<td>
							<input class="in_2" type="text" id="mobile_verifi" name="mobileCode" placeholder="手机验证码" disabled="disabled">
						</td>
						<td>
							<a id="validateNewMobile" class="s_4" onclick="getMobileCode();" href="javaScript:void(0);" style="color:#333">获取验证码</a>
						</td>
						<td>
							<span id="tuxing_s3" class="s_6" style="display: none;"></span> 
					    	<span id="tuxing_s4" class="s_6_cuo" style="display: none;">输入正确的手机号验证码</span> <br>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<i class="icon lock"></i>
							<input id="password" class="in_1 lo form-control" type="password" name="password" placeholder="请输入8到23位新密码" onblur="check_pwd()">
						</td>
						<td>
                            <div id="password_tivv" class="icon"></div>
                        </td>
					</tr>
					<tr>
						<td colspan="2">
							<i class="icon lock"></i>
							<input id="repassword" class="in_1 lo form-control" type="password" name="repassword" placeholder="请再次输入密码" onblur="check_password()">
						</td>
						<td>
                            <div id="repassword_tivv" class="icon"></div>
                        </td>
					</tr>
					<tr>
						<td colspan="2" height="60px">
							<input type="submit" value="确定" class="reg_btn" />
						</td>
					</tr>
				</tbody></table>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/static/jquery.form.js"></script>
<script type="text/javascript">
$(function () {
	$('#changePassword_form').ajaxForm({
        beforeSubmit: checkForm,
        success: function(msg){
            if(msg == 1){
                layer.alert('找回密码成功！刷新后可使用新密码', {
                    closeBtn: 0 ,
                  },function(){
                    $.fancybox.close();
                    layer.closeAll();
                    window.close();
                });
            }else{
                layer.alert(msg,function(){
                  	$("#kaptchaImage").click();
                    layer.closeAll();
                });
            }
        }
    });
	$('#mobile').bind('input propertychange',function(){
        var cur_phone = $('#mobile').val();
        var myreg = /^1[34578]\d{9}$/;
        if(cur_phone ==''){
            $('#mobile_tivvv').removeClass('ok_input');
            $('#mobile_tivvv').addClass('error_input');
            $('#mobile_tivvv').html("请输入手机号码！");
            return false;
        }else{
            if(!myreg.test(cur_phone)){
                $('#mobile_tivvv').removeClass('ok_input');
                $('#mobile_tivvv').addClass('error_input');
                $('#tuxing_verifi').attr('disabled','disabled');
                $('#mobile_tivvv').html("请输入正确的手机号");
              return false;
            }else{
            	$('#mobile_tivvv').removeClass('error_input');
                $('#mobile_tivvv').addClass('ok_input');
                $('#mobile_tivvv').html("");
                $('#tuxing_verifi').removeAttr('disabled');
            }
        }
    });
    var verifyimg = $("#kaptchaImage").attr("src");
    $("#kaptchaImage").click(function(){
        if( verifyimg.indexOf('?')>0){
            $("#kaptchaImage").attr("src", verifyimg+'&random='+Math.random());
        }else{
            $("#kaptchaImage").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
        }
    }); 
});
//图形验证码
$('#tuxing_verifi').bind('input propertychange',function(){
        var verify = $('#tuxing_verifi').val();
        if(verify == '' || verify == null){
            $('#verifyimg_tivv').html("请输入正确的图形码！");
            return false;
        }else{
            $.ajax({
                type:'post',
                url:'__APP__/login/check_code',
                dataType:'json',
                async:true,
                data:{verify_code:verify},
                success:function(data){
                    if(data == 0){
                        $('#verifyimg_tivv').removeClass('error_input');
                        $('#verifyimg_tivv').addClass('ok_input');
                        $('#verifyimg_tivv').html("");
                        $('#mobile_verifi').removeAttr('disabled');
                        $('#validateNewMobile').addClass('code_hover');
                    }else{
                        $('#verifyimg_tivv').addClass('error_input');
                        $('#verifyimg_tivv').html("输入正确的图形码！");
                        $('#mobile_verifi').attr('disabled','disabled');
                    }
                }
            });
        }
    });
function checkForm(){
    if($('#mobile').val() == '' || $('#mobile').val() == null ){
        $('#mobile_tivvv').addClass('error_input');
        $('#mobile_tivvv').html('请输入手机号码！');
        return false;
    }
    if($('#tuxing_verifi').val() == '' || $('#tuxing_verifi').val() == null ){
        $('#verifyimg_tivv').addClass('error_input');
        $('#verifyimg_tivv').html('请输入正确的图形码！');
        return false;
    }
    if($('#mobile_verifi').val() == '' || $('#mobile_verifi').val() == null ){
        $('#phone_tivv').addClass('error_input');
        $('#phone_tivv').html('请输入手机验证码！');
        return false;
    }
	if($('#password').val() == '' || $('#password').val() == null ){
        $('#password_tivv').addClass('error_input');
        $('#password_tivv').html('请输入8-23位字母或数字！');
        return false;
    }
    if($('#repassword').val() == '' || $('#repassword').val() == null ){
        $('#repassword_tivv').addClass('error_input');
        $('#repassword_tivv').html('请再次输入密码！');
        return false;
    }
    return true;
}
//验证密码格式
function check_pwd(){
    var password = $("#password").val();
    if(password.length < 8 || password.length > 23){
        $('#password_tip').removeClass('ok_input');
        $('#password_tip').addClass('error_input');
        $('#password_tip').html("请输入正确格式的密码");
        return false;
    }else{
        $('#password_tip').removeClass('error_input');
        $('#password_tip').addClass('ok_input');
        $('#password_tip').html("");
    }

}
//对比密码
function check_password(){
	var password = $("#password").val();
	var repassword = $("#repassword").val();
	if(repassword != password){
        $('#repassword_tip').removeClass('ok_input');
        $('#repassword_tip').addClass('error_input');
		$('#repassword_tip').html("两次输入的密码不一样");
		return false;
	}else{
        $('#repassword_tip').removeClass('error_input');
        $('#repassword_tip').addClass('ok_input');
        $('#repassword_tip').html("");
        return true;
    }
}
//验证码倒计时
var countdown=60; 
function settime() { 
    if (countdown == 0) { 
        countdown = 60; 

        $('#validateNewMobile').removeAttr("disabled"); 
        $('#validateNewMobile').attr('onclick','sendCode()');
        $('#validateNewMobile').addClass('code_hover');
        $('#validateNewMobile').html('获取验证码');
        return;
    } else { 
        $('#validateNewMobile').attr('disabled', true); 
        $('#validateNewMobile').removeAttr('onclick');
        $('#validateNewMobile').removeClass('code_hover');
        // obj.value="重新发送(" + countdown + ")"; 
        countdown--; 
        $('#validateNewMobile').html("验证码("+countdown+")");
    } 
    setTimeout(function() { 
        settime() },1000);
}
//发送验证码
function getMobileCode(){
    settime();
	var mobile = $('#mobile').val();
	$.ajax({
        type:'post',
        url:'__APP__/login/getMobileCode',
        dataType:'json',
        async:true,
        data:{mobile:mobile},
        success:function(data){
            if(data == 1){
                layer.msg('已发送',{icon: 1,time: 1500});
                return true;
            }else{
                layer.msg(data,{icon: 2,time: 2000});
                return false;
            }
        }
    });
}
</script>
<include file="Public/footer" />