<include file="Public/head"/>
<!-- 头部 -->
<include file="Public/header"/>

<!--理财学院-->
<div class="newsMain mt20 clearfix">
	<div class="newsMain_left">
		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul><li class="">1</li><li>2</li><li>3</li></ul>
			</div>
			<div class="bd">
				<ul>
					<li>
						<a href="#" target="_blank"><img src="__PUBLIC__/images/news/1.jpg">
							<span class="img_title">华夏“马上赢”年金保险</span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank"><img src="__PUBLIC__/images/news/2.jpg">
							<span class="img_title">怎样识破新型车险理赔诈骗</span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank"><img src="__PUBLIC__/images/news/3.jpg">
							<span class="img_title">重大疾病保险理赔流程简述</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
		jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true});
		</script>
	</div>
	<!---->
	<div class="newsMain_rig clearfix">
		<h2>头条要闻</h2>
		<div class="head_news">
			<div class="tt_title">头条</div>
			<h3 class="head_news_top"> <a href="#" target="_blank">P2P存管门槛变高 或借银行之手淘汰P2P</a></h3>
		</div>
		<dl class="xw_box">
        	<dd>
            <a href="#" target="_blank">《网络借贷资金存管业务指引（征求意见稿）》</a>
            <a href="#" target="_blank">P2P联合存管或将下架</a></dd>
        	<dd>
        	<a href="#" target="_blank">接入银行存管的P2P平台一览</a>
        	<a href="#" target="_blank">8月网贷平台风险评级与分析报告</a>
        	</dd>
    	</dl>
    	<div class="head_news mt20">
			<div class="tt_title">要闻</div>
			<h3 class="head_news_top"> <a href="#" target="_blank">王宝强婚后财产如何分割 离婚前股权已转移</a></h3>
		</div>
		<dl class="xw_box">
        	<dd>
            <a href="#" target="_blank">《网络借贷资金存管业务指引（征求意见稿）》</a>
            <a href="#" target="_blank">P2P联合存管或将下架</a></dd>
        	<dd>
        	<a href="#" target="_blank">接入银行存管的P2P平台一览</a>
        	<a href="#" target="_blank">8月网贷平台风险评级与分析报告</a>
        	</dd>
    	</dl>
    	<div class="news_toplist">
    		<dl>
        	<dd class="news_top">
            <span class="clearfix"><a href="#" class="colora2a2">[网贷理财]</a><a href="#">《网络借贷资金存管业务指引（征求意见稿）》</a></span>
            <span class="clearfix"><a href="#" class="colora2a2">[金融事件]</a><a href="#">P2P联合存管或将下架</a></span>
    		</dl>
    	</div>
	</div>

</div>
<div class="news_list mt20 clearfix">
		<!---->
		<div class="news_listleft">
			<div class="news_box">
			    <div class="hd">
			        <ul>
			        	<li><a href="#">P2P</a></li>
			        	<li><a href="#">金融</a></li>
			        	<li><a href="#">股票</a></li>
			        	<li><a href="#">基金</a></li>
			        </ul>
			    </div>
			    <div class="bd clearfix">
			        <ul>
			            <li>
			            	<div class="news_leftimg"><img src="__PUBLIC__/images/news/list1.jpg" /></div>
			            	<div class="news_rignr">
			            		<h2><a href="#">碧有信投资红包怎么使用？</a></h2>
			            		<span class="news_shows">2016年以来，内地楼市持续畅旺，多个城市上半年楼价按年升逾两成，很多人对内地楼价是否重现泡沫的担忧再度升温<em><i class="glyphicon glyphicon-time"></i>3小时前</em></span>
								<div class="news_tags"><i class="tags_on">社会</i><i>P2P</i><i>理财</i></div>
			            	</div>
			            </li>
			            <li>
			            	<div class="news_leftimg"><img src="__PUBLIC__/images/news/list2.jpg" /></div>
			            	<div class="news_rignr">
			            		<h2><a href="#">碧有信投资红包怎么使用？</a></h2>
			            		<span class="news_shows">2016年以来，内地楼市持续畅旺，多个城市上半年楼价按年升逾两成，很多人对内地楼价是否重现泡沫的担忧再度升温<em><i class="glyphicon glyphicon-time"></i>3小时前</em></span>
								<div class="news_tags"><i>社会</i><i>P2P</i><i>理财</i></div>
			            	</div>
			            </li>
			            <li>
			            	<div class="news_leftimg"><img src="__PUBLIC__/images/news/list1.jpg" /></div>
			            	<div class="news_rignr">
			            		<h2><a href="#">碧有信投资红包怎么使用？</a></h2>
			            		<span class="news_shows">2016年以来，内地楼市持续畅旺，多个城市上半年楼价按年升逾两成，很多人对内地楼价是否重现泡沫的担忧再度升温<em><i class="glyphicon glyphicon-time"></i>3小时前</em></span>
								<div class="news_tags"><i>社会</i><i>P2P</i><i>理财</i></div>
			            	</div>
			            </li>
			            <li>
			            	<div class="news_leftimg"><img src="__PUBLIC__/images/news/list3.jpg" /></div>
			            	<div class="news_rignr">
			            		<h2><a href="#">碧有信投资红包怎么使用？</a></h2>
			            		<span class="news_shows">2016年以来，内地楼市持续畅旺，多个城市上半年楼价按年升逾两成，很多人对内地楼价是否重现泡沫的担忧再度升温<em><i class="glyphicon glyphicon-time"></i>3小时前</em></span>
								<div class="news_tags"><i>社会</i><i>P2P</i><i>理财</i></div>
			            	</div>
			            </li>			            
			        </ul>
			        <ul>
			            <li>
			            	<div class="news_leftimg"><img src="__PUBLIC__/images/news/list1.jpg" /></div>
			            	<div class="news_rignr">
			            		<h2><a href="#">碧有信投资红包怎么使用？</a></h2>
			            		<span class="news_shows">2016年以来，内地楼市持续畅旺，多个城市上半年楼价按年升逾两成，很多人对内地楼价是否重现泡沫的担忧再度升温<em><i class="glyphicon glyphicon-time"></i>3小时前</em></span>
								<div class="news_tags"><i>社会</i><i>P2P</i><i>理财</i></div>
			            	</div>
			            </li>
			        </ul>
			        <ul>
			            <li>
			            	<div class="news_leftimg"><img src="__PUBLIC__/images/news/list1.jpg" /></div>
			            	<div class="news_rignr">
			            		<h2><a href="#">碧有信投资红包怎么使用？</a></h2>
			            		<span class="news_shows">2016年以来，内地楼市持续畅旺，多个城市上半年楼价按年升逾两成，很多人对内地楼价是否重现泡沫的担忧再度升温<em><i class="glyphicon glyphicon-time"></i>3小时前</em></span>
								<div class="news_tags"><i>社会</i><i>P2P</i><i>理财</i></div>
			            	</div>
			            </li>
			        </ul>
			        <ul>
			            <li>
			            	<div class="news_leftimg"><img src="__PUBLIC__/images/news/list1.jpg" /></div>
			            	<div class="news_rignr">
			            		<h2><a href="#">碧有信投资红包怎么使用？</a></h2>
			            		<span class="news_shows">2016年以来，内地楼市持续畅旺，多个城市上半年楼价按年升逾两成，很多人对内地楼价是否重现泡沫的担忧再度升温<em><i class="glyphicon glyphicon-time"></i>3小时前</em></span>
								<div class="news_tags"><i>社会</i><i>P2P</i><i>理财</i></div>
			            	</div>
			            </li>
			        </ul>
			        <ul>
			            <li>
			            	<div class="news_leftimg"><img src="__PUBLIC__/images/news/list1.jpg" /></div>
			            	<div class="news_rignr">
			            		<h2><a href="#">碧有信投资红包怎么使用？</a></h2>
			            		<span class="news_shows">2016年以来，内地楼市持续畅旺，多个城市上半年楼价按年升逾两成，很多人对内地楼价是否重现泡沫的担忧再度升温<em><i class="glyphicon glyphicon-time"></i>3小时前</em></span>
								<div class="news_tags"><i>社会</i><i>P2P</i><i>理财</i></div>
			            	</div>
			            </li>
			        </ul>
			    </div>
			</div>
		    <a href="#" class="check_more">点击加载更多</a>
		</div>
		<script type="text/javascript">jQuery(".news_box").slide({trigger:"click"}); </script>
		<!---->
		<div class="news_listrig">
			<div class="hot_tags">
				<h2>热门标签</h2>
				<div class="hot_tags_show clearfix">
					<a href="">P2P</a>
					<a href="">股票</a>
					<a href="">平台</a>
					<a href="">理财</a>
					<a href="">金融</a>
					<a href="">奥运</a>
					<a href="">养生</a>
					<a href="">白银</a>
					<a href="">黄金</a>
					<a href="">竞猜</a>
					<a href="">支票</a>
					<a href="">彩票</a>
				</div>
			</div>

			<div class="hot_rank mt20">
				<div class="hd">
					<div class="hot_rank_top clearfix">
						<h2>热门排行</h2>
			        	<ul><li>日</li><li>周</li><li>月</li></ul>
					</div>
			    </div>
			    <div class="bd clearfix">
			        <ul class="clearfix">
			            <li>
			            	<a href="">礼德财富大事记 礼德财富发展历程  <em class="hot_num">2588</em></a>
			            	<a href="">礼德财富大事记 礼德财富发展历程  <em class="hot_num">1326</em></a>
			            	<a href="">礼德财富大事记 礼德财富发展历程  <em class="hot_num">888</em></a>
			            	<a href="">礼德财富大事记 礼德财富发展历程  <em class="hot_num">588</em></a>
			            	<a href="">礼德财富大事记 礼德财富发展历程  <em class="hot_num">588</em></a>
			            	<a href="">礼德财富大事记 礼德财富发展历程  <em class="hot_num">588</em></a>
			            	<a href="">礼德财富大事记 礼德财富发展历程  <em class="hot_num">288</em></a>
			            	<a href="">礼德财富大事记 礼德财富发展历程  <em class="hot_num">288</em></a>
			            	<a href="">礼德财富大事记 礼德财富发展历程  <em class="hot_num">288</em></a>
			            	<a href="">礼德财富大事记 礼德财富发展历程  <em class="hot_num">288</em></a>
			            	<a href="">礼德财富大事记 礼德财富发展历程  <em class="hot_num">28</em></a>
			            </li>
			        </ul>
			        <ul>
			            <li><a href="http://www.SuperSlide2.com" target="_blank">名师教作文：３妙招巧写高分</a></li>
			        </ul>
			        <ul>
			            <li><a href="http://www.SuperSlide2.com" target="_blank">澳大利亚八大名校招生说明会</a></li>
			        </ul>
			    </div>
			</div>
			<script type="text/javascript">jQuery(".hot_rank").slide(); </script>

			<div class="media_list mt20">
				<h2>媒体报道</h2>
				<div class="media_nr clearfix">
					<div class="media_top clearfix">
						<span><img src="__PUBLIC__/images/news/list2.jpg" width="150px" height="100px" /></span>
						<span style="width: 166px; margin-left: 10px; margin-top: 30px;"><a href="#">小花贷款利息怎么算？利息高吗？</a></span>
					</div>
					<div class="media_show">
						<ul>
							<li><i></i><a href="">2016最火的秒批小贷口子</a></li>
							<li><i></i><a href="">积木盒子债权费用是多少</a></li>
							<li><i></i><a href="">热销重大疾病保险产品对比</a></li>
							<li><i></i><a href="">太平洋利赢年年B款利益演示</a></li>
							<li><i></i><a href="">热销重大疾病保险产品对比</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

</div>
<!--理财学院结束-->

<include file="Public/footer" />