<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
<title>{:C('WEB_SYSTEM_SITE_TITLE')}</title>
<link href="__PUBLIC__/css/admin.css" rel="stylesheet"/>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet"/>
<link href="__PUBLIC__/static/jqGrid/themes/ui.jqgrid.css" rel="stylesheet" />
<link href="__PUBLIC__/css/ace.min.css" rel="stylesheet"/>
<link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet"/>
<link href="__PUBLIC__/css/fancybox.css" rel="stylesheet"/>
<script type="text/javascript" src="__PUBLIC__/static/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/jquery.fancybox.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/jqGrid/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/jqGrid/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/jqGrid/grid.treegrid.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/laydate.dev.js"></script>
<script type="text/javascript">
var App= "__APP__";
</script>
<script type="text/javascript" src="__PUBLIC__/static/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/popup.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    	  var lwidth = $(document).width();
	      var cwidth = lwidth-155;
	      $('.main_rig').css('width',cwidth+'px'); 
    });
</script>