<div class="middle_cen_left">
	<table cellspadding="0" cellspacing="0">
		<tbody>
		<tr onclick="changeDivContext(this,'CompanyInfo','__APP__/aboutus/companyinfo.html')">
			<td class="_left_td _td_text1"><a id="about_id1">公司介绍</a></td>
		</tr>
		<tr onclick="changeDivContext(this,'SeeList','__APP__/aboutus/sitenotice.html')">
			<td class="_left_td _td_text1"><a id="about_id2">平台公告</a></td>
		</tr>
		<tr onclick="changeDivContext(this,'BusinessNews','__APP__/news.html')">
			<td class="_left_td _td_text1"><a id="about_id6">新闻资讯</a></td>
		</tr>
		<tr onclick="changeDivContext(this,'JoinUs','__APP__/aboutus/join.html')">
			<td class="_left_td _td_text1"><a id="about_id3">加入我们</a></td>
		</tr>
		<tr onclick="changeDivContext(this,'ContactUs','__APP__/aboutus/contact.html')">
			<td class="_left_td _td_text1"><a id="about_id4">联系我们</a></td>
		</tr>
		<tr onclick="changeDivContext(this,'View','__APP__/aboutus/view.html')">
			<td class="_left_td _td_text1"><a id="about_id5">意见反馈</a></td>
		</tr>
		</tbody>
	</table>
</div>
