

<!---------------赚乐扒首页底部样式开始------------------>
<div class="jflsy_db">
    <div class="jflsy_db_top">
        <div class="jflsy_db_top_left">
            <div class="jflsy_db_top_left_01">
                <ul>
                    <li class="dbys01">关于我们</li>
                    <li class="dbys02"><a href="__APP__/aboutus/companyinfo.html">了解赚乐扒</a></li>
                    <li class="dbys02"><a href="__APP__/aboutus/join.html">加入赚乐扒</a></li>
                    <li class="dbys02"><a href="__APP__/aboutus/contact.html">联系赚乐扒</a></li>
                </ul>
            </div>
            <div class="jflsy_db_top_left_01">
                <ul>
                    <li class="dbys01">帮助中心</li>
                    <li class="dbys02"><a href="__APP__/doorReg/help.html">新手入门</a></li>
                    <li class="dbys02"><a href="__APP__/login/login.html">注册登录</a></li>
                    <li class="dbys02"><a href="__APP__/userinfo/wdApply.html">提现申请</a></li>
                </ul>
            </div>
            <div class="jflsy_db_top_left_01">
                <ul>
                    <li class="dbys01">产品服务</li>
                    <li class="dbys02"><a href="__APP__/day.html">稳健型产品</a></li>
                    <li class="dbys02"><a href="__APP__/super.html">精选产品</a></li>
                    <li class="dbys02"><a href="__APP__/high.html">高收益产品</a> </li>
                </ul>
            </div>
           
        </div>
        <div class="jflsy_db_top_ewm">
            <div class="jflsy_db_top_ewm_top"><img src="__PUBLIC__/images/newimages/ewm.jpg" width="117" height="117"> </div>
            <div class="jflsy_db_top_ewm_bottom">赚乐扒官方微信</div>
        </div>
        <div class="jflsy_db_top_lxfs">
            <p class="p2 wzysys04">联系方式</p>
            <p class="p9 wzysys05">{$website.telephonr}</p>
            <p class="p2 wzysys06">周一至周日：{$website.working_time}</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="jflsy_db_bottom">
    <a  key ="58b101bfefbfb045fa0e20b2"  logo_size="124x47"  logo_type="business"  href="http://www.anquan.org" ><script src="//static.anquan.org/static/outer/js/aq_auth.js"></script></a>
       <div class="clear"></div>
       {$website.website_description}
    </div>
</div>
<!---------------赚乐扒首页底部样式结束------------------>