<include file="Public/head" />
<div class="fanbox_revise">
    <form id="editRight_form" action="{:U('Admin/System/save_editRight')}" method="post">
        <table width="100%" cellpadding="0" cellspacing="0" class="post_table">
            <tr>
                <td align="right">权限名称：</td>
                <td>
                    <input type="hidden" name="right_id" value="{$right_id}" />
                    <input type="text" id="right_name" class="input2" name="right_name" value="{$list.right_name}" required/>
                </td>
                <td align="right">描述：</td>
                <td>
                    <input type="text" class="input2" id="mark" name="mark" value="{$list.mark}" />
                </td>
            </tr>
            <tr>
                <td align="right">权限路径：</td>
                <td>
                    <input type="text" class="input2" id="right_url" name="right_url" value="{$list.right_url}" />
                </td>
                <td align="right">图标：</td>
                <td>
                    <input type="text" class="input2" id="icon_cls" name="icon_cls" value="{$list.icon_cls}" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right;" colspan=4>
                <input type="submit" style="float:none;" class="btn" value="提交"/> 
                <!-- <input type="button" id="undo" style="float:none;" class="btn" value="取消" /> -->
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/static/jquery.form.js"></script>
<script type="text/javascript">
$(function(){
    $('#editRight_form').ajaxForm({
        beforeSubmit: validate,
        success: function(msg){
            if(msg == 1){
                layer.alert('修改成功！',function(){
                    top.layer.closeAll();
                    top.rightContent.window.reload_right_list();
                });
            }else{
                layer.alert('修改失败', {
                    closeBtn: 0 ,
                  });
            }
        }
    }); 
});
function validate(formData, jqForm, options) {  
   
   
}
</script>
