<div class="fanbox_revise">
	<h3>添加</h3>
    <form id="editBanner_form" action="{:U('Admin/System/save_editBanner')}" method="post" enctype="multipart/form-data">
        <table width="100%" cellpadding="0" cellspacing="0" class="post_table">
            <tr>
                <td align="right">跳转链接：</td>
                <td>
                    <input type="hidden" name="banner_id" value="{$banner_id}" />
                    <input type="text" id="banner_jump" class="input2" name="banner_jump" value='{$banner_jump}' required/>
                </td>
            </tr>

            <tr>
                <td align="right">图片：</td>
                <td>
                    <a href="javascript:;" class="file"><i class="upload_img glyphicon glyphicon-picture"></i>选择文件<input type="file" class="input2" id="banner_img" name="banner_img" /></a>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;" colspan=4>
                <input type="submit" style="float:none;" class="btn" value="提交"/> 
                <!-- <input type="button" id="undo" style="float:none;" class="btn" value="取消" /> -->
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/static/jquery.form.js"></script>
<script type="text/javascript">
$(function(){
    $('#editBanner_form').ajaxForm({
        beforeSubmit: validate,
        success: function(msg){
            var reg = /<pre.+?>(.+)<\/pre>/g;    
            var result = msg.match(reg);    
            msg = RegExp.$1;
            if(msg == 1){
                layer.alert('修改成功！',function(){
                	$.fancybox.close();
                    top.layer.closeAll();
                    top.rightContent.window.reload_banner_show();
                });
            }else{
                layer.alert('修改失败', {
                    closeBtn: 0 ,
                  });
            }
        }
    }); 
});
function validate() {
   var banner_jump=$("#banner_jump").val();
   if (!banner_jump) {
   		top.layer.msg('跳转链接不可为空',{icon: 2,time: 1500});
   	  	return false;
   }
}
</script>
