<div class="fanbox_bill">
    <h3>审核</h3>
    <form id="bill_form" action="{:U('Admin/CheckBill/billCheck')}" method="post">
        <table width="100%" cellpadding="0" cellspacing="0" class="post_table">
            <tr>
                <td width="30%" align="right">审核状态&nbsp;&nbsp;</td>
                <td>
                    <input name="reviewed_id" type="hidden" value="{$reviewed_id}" />
                    <input name="plat_id" type="hidden" value="{$plat_id}" />
                    <label><input name="mark" type="radio" value="3" />满标 </label> 
                    <label><input name="mark" type="radio" value="9" />流标 </label> 
                </td>
            </tr>
            <tr>
                <td height="60">&nbsp;</td>
                <td style="text-align: right;">
                <input type="submit" style="float:none;" class="btn" value="提交"/> 
                <input type="button" style="float:none;" class="btn" value="取消" onclick="$.fancybox.close();" /></td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/static/jquery.form.js"></script>
<script type="text/javascript">
$(function(){
    $('#bill_form').ajaxForm({
        beforeSubmit: validate,
        success: function(msg){
            if(msg == 1){
                layer.alert('提交成功！',function(){
                    top.rightContent.window.reload_bill_show();
                    $.fancybox.close();
                    layer.closeAll();
                });
            }else{
                layer.alert('提交失败！');
            }
        }
    }); 
});
function validate(){
   var choose_mark =  $('input[name=Mark]').val();
   if(choose_mark == ''){
        layer.msg('请选择内容！',{icon:11});
   }
}
</script>