<include file="Public/head" />
<div class="lbs_nav"><include file="Public/breadcrumbs"/></div>
<div id="main_type" class="main_type clearfix">
    <!--left-->
    <div class="main_bill_left">
        <div class="panel panel-default" style="height:667px;">
          <div class="panel-heading">相关产品<i id="bill_arrow_left" class="icon-angle-left fz18 icon_r fr"></i></div>
          <!-- List group -->
            <!-- jqGrid table-->
            <table id="bill_show_success"></table>
            <!-- jqGrid 分页 div gridPager -->
            <div id="billPager"></div>
            <script type="text/javascript">
            
            jQuery(function($) {
                var grid_selector = "#bill_show_success";
                var pager_selector = "#billPager";
                var lheight = document.body.clientHeight-228;
                jQuery(grid_selector).jqGrid({
                    url:"{:U('CheckBill/billManage')}",
                    datatype:"json", //数据来源，json
                    mtype:"POST",
                    postData:{billSu_id:3},
                    height:lheight,
                    colNames:['id','标的名称', '&nbsp;&nbsp;所属平台'],
                    colModel:[
                        {name:'product_id',index:'product_id', width:'8%',editable:true,align:'center',hidden:true},
                        {name:'target_name',index:'target_name',editable:true, width:'16%',align:'left'},
                        {name:'plat_shortname',index:'plat_shortname', width:'6%',align:'left'}
                    ],  
                    sortorder:'desc',
                    viewrecords : true,
                    rowNum:20,
                    rowList:[20,50,100],
                    pager : pager_selector,
                    altRows: true,
                    //toppager: true,
                    rownumbers:true,
                    multiboxonly: true,
                    loadComplete : function(data) {
                        var table = this;
                        setTimeout(function(){
                            styleCheckbox(table);
                            updateActionIcons(table);
                            updatePagerIcons(table);
                            enableTooltips(table);
                        }, 0);
                    },
                    autowidth: true,
                    onSelectRow: function(id){   
                        var cur_td = $("#bill_show_success").jqGrid('getCell', id,'product_id');
                        getChoose(cur_td);
                    },  

                });
                //switch element when editing inline
                function aceSwitch( cellvalue, options, cell ) {
                    setTimeout(function(){
                        $(cell) .find('input[type=checkbox]')
                                .wrap('<label class="inline" />')
                            .addClass('ace ace-switch ace-switch-5')
                            .after('<span class="lbl"></span>');
                    }, 0);
                }
                jQuery(grid_selector).jqGrid('navGrid',pager_selector,
                    {   //navbar options
                        edit: false,
                        editicon : 'icon-pencil blue',
                        add: false,
                        addicon : 'icon-plus-sign purple',
                        del: false,
                        delicon : 'icon-trash red',
                        search: false,
                        searchicon : 'icon-search orange',
                        refresh: true,
                        refreshicon : 'icon-refresh blue',
                        view: false,
                        viewicon : 'icon-zoom-in grey',
                    },
                    {
                        recreateForm: true,
                        beforeShowForm : function(e) {
                            var form = $(e[0]);
                            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                            style_edit_form(form);
                        }
                    }
                )
                function style_edit_form(form) {
                    //enable datepicker on "sdate" field and switches for "stock" field
                    form.find('input[name=sdate]').datepicker({format:'yyyy-mm-dd' , autoclose:true})
                        .end().find('input[name=stock]')
                              .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');
            
                    //update buttons classes
                    var buttons = form.next().find('.EditButton .fm-button');
                    buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
                    buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
                    buttons.eq(1).prepend('<i class="icon-remove"></i>')
                    
                    buttons = form.next().find('.navButton a');
                    buttons.find('.ui-icon').remove();
                    buttons.eq(0).append('<i class="icon-chevron-left"></i>');
                    buttons.eq(1).append('<i class="icon-chevron-right"></i>');     
                }
                function styleCheckbox(table) {
                /**
                    $(table).find('input:checkbox').addClass('ace')
                    .wrap('<label />')
                    .after('<span class="lbl align-top" />')
            
            
                    $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
                    .find('input.cbox[type=checkbox]').addClass('ace')
                    .wrap('<label />').after('<span class="lbl align-top" />');
                */
                }

                function updateActionIcons(table) {
                    /**
                    var replacement = 
                    {
                        'ui-icon-pencil' : 'icon-pencil blue',
                        'ui-icon-trash' : 'icon-trash red',
                        'ui-icon-disk' : 'icon-ok green',
                        'ui-icon-cancel' : 'icon-remove red'
                    };
                    $(table).find('.ui-pg-div span.ui-icon').each(function(){
                        var icon = $(this);
                        var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                        if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
                    })
                    */
                }
                function updatePagerIcons(table) {
                    var replacement = 
                    {
                        'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
                        'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
                        'ui-icon-seek-next' : 'icon-angle-right bigger-140',
                        'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
                    };
                    $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
                        var icon = $(this);
                        var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                        
                        if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
                    })
                }
                function enableTooltips(table) {
                    $('.navtable .ui-pg-button').tooltip({container:'body'});
                    $(table).find('.ui-pg-div').tooltip({container:'body'});
                }
            
            }); 
        </script>
          <!---->
        </div>
    </div>
    <div class="small_type_left">
        <div class="panel-tool">
            <a href="javascript:void(0)" id="arrow_rig" class="glyphicon glyphicon-list"></a></div>
        <div title="" class="panel-body" style="width: 26px;"></div>
    </div>
    <!--end-->
    <!--right-->
    <div class="main_bill_rig">
        <div class="panel panel-default">
          <div class="panel-heading">相关对账记录<i class="glyphicon glyphicon-list icon_r fr"></i></div>
          <div class="panel-body">
              <!-- jqGrid table -->
                <table id="type_show"></table>
                <!-- jqGrid 分页 -->
                <div id="gridPager_type"></div>

                <script type="text/javascript">
                    function getChoose(choose_id){
                       var show_cur = choose_id;
                       $("#type_show").jqGrid('setGridParam',{ 
                            datatype:'json', 
                            postData:{bill_id:show_cur}, //发送数据 
                            url:"{:U('Admin/CheckBill/billRecord')}",
                        }).trigger("reloadGrid"); //重新载入 
                    }
                     jQuery(function($) {
                        var grid_selector = "#type_show";
                        var pager_selector = "#gridPager_type";
                        var lheight = document.body.clientHeight-226;
                        jQuery(grid_selector).jqGrid({
                            url:"",
                            datatype:"json", //数据来源，json
                            mtype:"POST",
                            height:lheight,
                            colNames:['id','手机号', '流水号','创建时间','处理状态','购买金额','购买时间'],
                            colModel:[
                                {name:'product_buy_id',index:'product_buy_id', width:'3%',align:'center',hidden:true},
                                {name:'mobile',index:'mobile', width:'100%',align:'left'},
                                {name:'serial_no',index:'serial_no', width:'100%',align:'left'},
                                {name:'online_time',index:'online_time', width:'110%',align:'left'},
                                {name:'handle_type',index:'handle_type', width:'55%',align:'center'},
                                {name:'buy_money',index:'buy_money', width:'55%',align:'center'},
                                {name:'buy_time',index:'buy_time', width:'110%',align:'left'}
                            ], 
                            viewrecords : true,
                            rowNum:20,
                            rowList:[20,50,100],
                            pager : pager_selector,
                            altRows: true,
                            sortorder:'desc',
                            rownumbers:true,
                            multiboxonly: true,
                            forceFit : true,
                            autowidth: true,
                            loadComplete : function(data) {
                                var table = this;
                                setTimeout(function(){
                                    styleCheckbox(table);
                                    updateActionIcons(table);
                                    updatePagerIcons(table);
                                }, 0);
                            },
                            autowidth: true
                        });
                        
                        //navButtons
                        jQuery(grid_selector).jqGrid('navGrid',pager_selector,
                            {   //navbar options
                                edit: false,
                                editicon : 'icon-pencil blue',
                                add: false,
                                addicon : 'icon-plus-sign purple',
                                del: false,
                                delicon : 'icon-trash red',
                                search: false,
                                searchicon : 'icon-search orange',
                                refresh: true,
                                refreshicon : 'icon-refresh blue',
                                view: false,
                                viewicon : 'icon-zoom-in grey',
                            }
                        )
                        function style_edit_form(form) {
                            //enable datepicker on "sdate" field and switches for "stock" field
                            form.find('input[name=sdate]').datepicker({format:'yyyy-mm-dd' , autoclose:true})
                                .end().find('input[name=stock]')
                                      .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');
                    
                            //update buttons classes
                            var buttons = form.next().find('.EditButton .fm-button');
                            buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
                            buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
                            buttons.eq(1).prepend('<i class="icon-remove"></i>')
                            
                            buttons = form.next().find('.navButton a');
                            buttons.find('.ui-icon').remove();
                            buttons.eq(0).append('<i class="icon-chevron-left"></i>');
                            buttons.eq(1).append('<i class="icon-chevron-right"></i>');     
                        }
                        function styleCheckbox(table) {
                        /**
                            $(table).find('input:checkbox').addClass('ace')
                            .wrap('<label />')
                            .after('<span class="lbl align-top" />')
                    
                    
                            $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
                            .find('input.cbox[type=checkbox]').addClass('ace')
                            .wrap('<label />').after('<span class="lbl align-top" />');
                        */
                        }
                        function updateActionIcons(table) {
                            /**
                            var replacement = 
                            {
                                'ui-icon-pencil' : 'icon-pencil blue',
                                'ui-icon-trash' : 'icon-trash red',
                                'ui-icon-disk' : 'icon-ok green',
                                'ui-icon-cancel' : 'icon-remove red'
                            };
                            $(table).find('.ui-pg-div span.ui-icon').each(function(){
                                var icon = $(this);
                                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                                if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
                            })
                            */
                        }
                        function updatePagerIcons(table) {
                            var replacement = 
                            {
                                'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
                                'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
                                'ui-icon-seek-next' : 'icon-angle-right bigger-140',
                                'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
                            };
                            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
                                var icon = $(this);
                                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                                if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
                            })
                        }
                    }); 
                </script>
          </div>
        </div>
    </div>
    <!--end-->
</div>
