<include file="Public/head" />
<div class="lbs_nav"><include file="Public/breadcrumbs"/></div>
<!-- jqGrid table -->
<table id="caiqiNotice"></table>
<!-- jqGrid 分页 div gridPager -->
<div id="caiqiNoticePager"></div>
    <script type="text/javascript">
            jQuery(function($) {
                var grid_selector = "#caiqiNotice";
                var pager_selector = "#caiqiNoticePager";
                var lheight = document.body.clientHeight-224;
                jQuery(grid_selector).jqGrid({
                    url:"{:U('Article/caiqiNoticeList')}",
                    datatype:"json", //数据来源，json
                    mtype:"POST",
                    height:lheight,
                    sortorder:'desc',
                    colNames:['id','标题', '添加人', '添加时间','修改人','修改时间','修改','删除'],
                    colModel:[
                        {name:'announ_id',index:'announ_id', width:'20%',editable:true,align:'center',hidden:true},
                        {name:'announ_title',index:'announ_title', editable:true,width:'80%',align:'left'},
                        {name:'back_user_name',index:'back_user_name',editable:true, width:'60%',align:'left'},
                        {name:'add_time',index:'add_time', width:'60%',align:'left'},
                        {name:'up_user',index:'up_user', width:'60%', align:"left"},
                        {name:'up_time',index:'up_time', width:'60%', align:"left"},
                        {name:'rechange',index:'rechange', width:'15%', align:"center"},
                        {name:'deleteAnnoun',index:'deleteAnnoun', width:'15%', align:"center"}
                    ], 
                    
                    viewrecords : true,
                    rowNum:20,
                    rowList:[20,50,100],
                    pager : pager_selector,
                    altRows: true,
                    //toppager: true,
                    rownumbers:true,
                    multiboxonly: true,
                    toolbar : [ true, "top" ],
                    loadComplete : function(data) {
                        var table = this;
                        setTimeout(function(){
                            styleCheckbox(table);
                            updateActionIcons(table);
                            updatePagerIcons(table);
                        }, 0);
                    },
                    autowidth: true
                }); 
                //navButtons
                jQuery(grid_selector).jqGrid('navGrid',pager_selector,
                    {   //navbar options
                        edit: false,
                        editicon : 'icon-pencil blue',
                        add: false,
                        addicon : 'icon-plus-sign purple',
                        del: false,
                        delicon : 'icon-trash red',
                        search: false,
                        searchicon : 'icon-search orange',
                        refresh: true,
                        refreshicon : 'icon-refresh blue',
                        view: false,
                        viewicon : 'icon-zoom-in grey',
                    }
            
                )
                $("#t_caiqiNotice").append("<a href='javascript:void(0)' class='add_new'><i class='glyphicon glyphicon-plus'></i>添加</a><a href='javascript:void(0)' class='search_announ'><i class='glyphicon glyphicon-search'></i>查询</a>");
                $(".add_new", "#t_caiqiNotice").click(function() {
                    $.fancybox({
                        'type':'ajax',
                        'href':'addAnnoun.html',
                        'autoScale' :true,
                    });});
                 $(".search_announ","#t_caiqiNotice").click(function(){
                    $.fancybox({
                        'type':'ajax',
                        'href':'search_announ.html',
                        'autoScale':true
                    });
                });
                function styleCheckbox(table) {
                /**
                    $(table).find('input:checkbox').addClass('ace')
                    .wrap('<label />')
                    .after('<span class="lbl align-top" />')
                    $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
                    .find('input.cbox[type=checkbox]').addClass('ace')
                    .wrap('<label />').after('<span class="lbl align-top" />');
                */
                }
                function updateActionIcons(table) {
                    /**
                    var replacement = 
                    {
                        'ui-icon-pencil' : 'icon-pencil blue',
                        'ui-icon-trash' : 'icon-trash red',
                        'ui-icon-disk' : 'icon-ok green',
                        'ui-icon-cancel' : 'icon-remove red'
                    };
                    $(table).find('.ui-pg-div span.ui-icon').each(function(){
                        var icon = $(this);
                        var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                        if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
                    })
                    */
                }
                function style_edit_form(form) {
                    //enable datepicker on "sdate" field and switches for "stock" field
                    form.find('input[name=sdate]').datepicker({format:'yyyy-mm-dd' , autoclose:true})
                        .end().find('input[name=stock]')
                              .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');
            
                    //update buttons classes
                    var buttons = form.next().find('.EditButton .fm-button');
                    buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
                    buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
                    buttons.eq(1).prepend('<i class="icon-remove"></i>')
                    
                    buttons = form.next().find('.navButton a');
                    buttons.find('.ui-icon').remove();
                    buttons.eq(0).append('<i class="icon-chevron-left"></i>');
                    buttons.eq(1).append('<i class="icon-chevron-right"></i>');     
                }
                //replace icons with FontAwesome icons like above
                function updatePagerIcons(table) {
                    var replacement = 
                    {
                        'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
                        'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
                        'ui-icon-seek-next' : 'icon-angle-right bigger-140',
                        'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
                    };
                    $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
                        var icon = $(this);
                        var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                        
                        if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
                    })
                }
            }); 
            function reload_announ(){
                $("#caiqiNotice").trigger("reloadGrid");
            }
        </script>
