<div class="fanbox_reply">
    <h3>修改跳转方式</h3>
    <form id="reply_form" action="{:U('Admin/Plat/save_jumpOpear')}" method="post">
        <table width="100%" cellpadding="0" cellspacing="0" class="post_table">
            <tr>
                <td width="30%" align="right">平台名称&nbsp;&nbsp;</td>
                <td>
                    <input type="hidden" name="save_id" value="{$editJump.plat_id}" />
                    <input type="text" id="plat_name" class="input2" name="plat_name" value="{$editJump.plat_shortname}" readonly="true" />
                </td>
            </tr>
            <tr>
                <td align="right">跳转类型&nbsp;&nbsp;</td>
                <td><select id="jump_type" name="jump_type">
                        {$options}
                    </select></td>
            </tr>
           
            <tr>
                <td align="right">跳转操作&nbsp;&nbsp;</td>
                <td><input type="text" name="jump_links" id="jump_links" value="{$editJump.handle_controller}" /></td>
            </tr>
            <tr>
                <td height="60">&nbsp;</td>
                <td style="text-align: right;">
                <input type="submit" style="float:none;" class="btn" value="提交"/> 
                <input type="button" style="float:none;" class="btn" value="取消" onclick="$.fancybox.close();" /></td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/static/jquery.form.js"></script>
<script type="text/javascript">
$(function(){
    $('#reply_form').ajaxForm({
        beforeSubmit: '',
        success: function(msg){
            if(msg == 1){
                layer.alert('修改成功！', function(){
                    $.fancybox.close();
                    layer.closeAll();
                  });
            }else{
                layer.alert('修改失败!');
            }
        }
    }); 
});